body {

    background: url('https://free4kwallpapers.com/uploads/originals/2018/06/18/created-a-3d-render-of-a-pokemon-trophy-in-the-grass-wallpaper.jpg');
    margin: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #a4ff91;
}

#root {
    text-align: center;
}